*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.font-open-sens{
  font-family: "Open Sans", sans-serif;
  font-optical-sizing: auto;
  
}
header{
    background-color: #FFF8F3;
    padding-top: 50px;
   
}
nav{
    width: 71%;
    max-width: 1140px;
    /* border: 1px solid red; */
    margin: 0 auto;
     display: flex;
     justify-content: space-between;
     font-weight: 900px;
     align-items: center;

}
 nav .menu{
    display: flex;
    list-style: none;
    gap: 51px;
    align-items: center;
}
nav .menu a{
    font-size: 20px;
    color: #474747;
    text-decoration: none;
}
.button{
    background-color: #FD6E0A;
    height: 65px;
    width: 150px;
    border-radius: 5px;
    font-size: 20px;
    color: white;
    border: none;
    padding: 18px 35px;
    font-weight: bold;
}
.logo h2{
font-size: 45px;

}
.orange{
    color: #FD6E0A;
}